//--------------------------------------------------------------
// Layout
//--------------------------------------------------------------

.container {
	@include outer-container;

	&.content {
		border-left: 1px solid $color-divider;
		border-right: 1px solid $color-divider;
		min-height: 100vh;
		position: relative;
	}
}