//--------------------------------------------------------------
// Theme Colors
//--------------------------------------------------------------

// Primary colors
$color-primary-dark: #303F9F;
$color-primary: #3F51B5;
$color-accent-color: #FF5722;
$color-primary-text: #555555;
$color-secondary-text: #727272;

$color-divider: #343434;

// New Colors
$color-white: #FFFFFF;
$color-black-bunker: #141414;
$color-white-gallery: #ECECEC;