//--------------------------------------------------------------
// Theme Colors
//--------------------------------------------------------------

// Primary colors
$color-primary-dark: #303F9F;
$color-primary: #3F51B5;
$color-accent-color: #FF5722;
$color-primary-text: #212121;
$color-secondary-text: #727272;

$color-divider: rgba(51, 51,51, 0.12);