//--------------------------------------------------------------
// Typography
//--------------------------------------------------------------

$font-sans:  "Open Sans", arial, sans-serif;
$font-sans-alt:  Helvetica, arial, sans-serif;
$font-serif: Roboto, Georgia, Times, "Times New Roman", serif;

$line-height-base: 1.625;