//--------------------------------------------------------------
// Typography
//--------------------------------------------------------------

$font-sans:  "Alegreya Sans", sans-serif;
$font-serif: Roboto, Georgia, Times, "Times New Roman", serif;

$line-height-base: 1.625;