{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "jquery": true,
    "es6": true
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "extends": "wordpress",
  "installedESLint": true,
  "plugins": [
    "react"
  ],
  "rules": {
    "react/jsx-uses-vars": [2],
    "react/jsx-uses-react": [2]
  }
}