//--------------------------------------------------------------
// Base styles
//--------------------------------------------------------------
.container {

	&.content {
		position: relative;
	}
}

header {

	a,
	a:hover,
	a:visited {
		text-decoration: none;
	}
}

nav {

	a.active-link,
	a:hover,
	a.active-link:visited,
	a.active-link:active {
		background-color: rgba(0,0,0, 0.1);
	}
}

