//--------------------------------------------------------------
// Typography
//--------------------------------------------------------------

body {
	color: $color-primary-text;
	font-family: $font-sans;
	line-height: $line-height-base;
}

h2,
h2.post-title {
	color: $color-accent-color;
	font-size: 36px;
	font-weight: 300;
	margin-bottom: 0;
}